*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #5FD7DC;
}
.enter_account{
    background-color: white;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;

    padding: 40px;
    border-radius: 10px;
} 
.enter_account h1{
    text-align: center;
}
.enter_account .link, .create_account .link{
    padding-top: 30px;
}
.enter_account .link a, .create_account .link a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.user_data{
    padding: 10px 0;
}
.user_data input[type="text"], input[type="password"], input[type="email"]{
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}
.user_data input[type="submit"]{
    background-color: #6FB653;
    display: block;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}
.user_data .show_hide_pass{
    padding-bottom: 20px;
    font-size: 15px;
}
.create_account{
    background-color: white;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;

    padding: 40px;
    border-radius: 10px;
}
.erro{
    color: red;
    font-size: 12px;
    padding-bottom: 10px;
}